body, body.ms-backgroundImage {
  background: #bcbcbc;
}


.section-title-index {
  border-bottom: 2px solid #333 !important;
  color: #333 !important;
  font-family: "Fabriga", Arial, sans-serif;
  font-size: 1.75em !important;
  padding-bottom: 20px !important;
}

/* footer */
.wk-footer {
  order: 99;
}
